.container-form-v {
  flex-direction: column;
  width: 30rem;

    .subtitle {
      border-bottom: 1px solid $primary;         
      h1 {
        color: $primary;
        font-family: 'Ephesis', cursive;
        font-weight: bold;
      } 
    }
    .form-input-group-v {
      width: 80%;
      padding-top: 10px;
      .input-v {
        padding: 10px 0;
        position: relative;
        .toggle{
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 18px;
          right: 18px;
          width: 30px;
          height: 30px;
          user-select: none;
        }
        .input-value-v {
          width: 100%;
          background: $light;
          padding: 10px 15px;
          border: none;
          border-radius: 8px;
          outline: none;

          &.input-error-v {
            border: 1px solid $danger;
            &::placeholder {
              color: $danger;
            }
          }
        }
        .error {
          color: $danger;
        }
      }
      .switch-page {
        display: flex;
        align-items: self-start;
        justify-content: flex-start;
        flex-direction: column;
      
        .button-v {
          width: 100%;
        }
      }
    }
  }

.switch-page-link {
  .title {
    letter-spacing: 1px !important;
    font-weight: 300;
    color: $dark;
    font-size: 1rem !important;
  }
}